<?xml version='1.0' encoding='utf-8'?>
<widget id="com.libreappfoundation.mobiletv" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MobileTV</name>
    <description>
        A simple app for streaming live news channels (especially, malayalam channels from youtube)
    </description>
    <author email="niyasc@hotmail.com" href="https://theopensourcefeed.com">
        LibreAppFoundation
    </author>

    <preference name="Fullscreen" value="true" />

    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="mdpi" src="res/mipmap-mdpi/mobiletv.png" />
        <icon density="hdpi" src="res/mipmap-hdpi/mobiletv.png" />
        <icon density="xhdpi" src="res/mipmap-xhdpi/mobiletv.png" />
        <icon density="xxhdpi" src="res/mipmap-xxhdpi/mobiletv.png" />
        <icon density="xxxhdpi" src="res/mipmap-xxxhdpi/mobiletv.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <splash src="res/splash.png" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <engine name="android" spec="^7.1.4" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-plugin-screen-orientation" spec="^3.0.1" />
</widget>
